@font-face {
	font-family: "Ubuntu";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: "Pricedow";
    src: url("../fonts/pricedow.ttf");
}

body {
	background-color: #060910;
}

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0b121f;
  overflow-x: auto;
  padding-top: 20px;
}

.logofix {
	position: relative;
	bottom: 40px;
	right: 1px;
}

.sidenav a, .dropdown-btn {
  font-family: "Ubuntu";
  padding: 6px 2px 2px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #9fef00;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 20px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 20px; 
  padding: 0px 10px;
  text-align: center;
}

.active {
  color: white;
}

.dropdown-container {
  display: none;
  padding-left: 3px;
  padding-right: 30px;
}

.fa-caret-down {
  padding-top: 4px;
  padding-right: 8px;
  float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.title {
	font-family: "Ubuntu";
	color: #9fef00;
	font-size: 50px;
	position: relative;
	top: 260px;
}

.prefix {
	position: relative;
	top: 50px;
}

.antiuif {
	font-family: "Pricedow";
	text-align: center;
	font-size: 250px;
	color: #9fef00;	
	position: relative;
	top: 250px;
}		
.soon {
	font-family: "Ubuntu";
	text-align: center;
	font-size: 30px;
	color: #9fef00;	
	font-size: 30px;
	position: relative;
	top: 210px;
}

.omg {
	text-align: center;
	font-size: 17px;
	color: #ffffff;
	font-family: "Ubuntu";
	position: relative;
	top: 540px;
}

pre {
    background: #0b121f;
	border-style: solid;
	border-color: #9fef00;
	border-width: 2px;
	border-radius: 5px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    width: 1300px;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
	white-space: initial;
	position: relative;
	top: 200px;
	text-decoration: none;
}

pre a {
	text-decoration: none;
	color: #ff009e;
	font-weight: bold;
	font-family: "Ubuntu";
}

.missing {
    color: #ff0000;
	font-weight: bold;
	display: inline;
}

.colorg {
	color: #9fef00;
	display:inline;
}

.button-1 {
  background-color: #9fef00;
  color: #000000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  top: 180px;
  width: 210px;
}

.button-1:hover,
.button-1:focus {
  background-color: #aaff00;
}

.delete {
	color: #690000;
	display:inline;
	text-decoration: line-through;
}

/* ICONS FIX */

.fa-house-signal {
	position: relative;
	top: 3px;
}

.fa-discord {
	position: relative;
	top: 3px;
	right: 4px;
	margin-right:-2px;
}

.fa-user-secret {
	position: relative;
	top: 2px;
	margin-right:5px;
}

.fa-biohazard {
	position: relative;
	top: 2px;
	right: 3px;
}

.fa-people-group {
	position: relative;
	top: 3px;
	right: 4px;	
	margin-right:-2px;
}

.fa-house-signal {
	position: relative;
	top: 3px;
	margin-right: 2px;
}

.fa-folder-open {
	position: relative;
	top: 1px;
	left: 1px;
	margin-right: 2px;	
}

/* ICONS FIX */

.leaktitle {
	font-family: Ubuntu;
	color: #9fef00;
	font-size: 40px;
	position: relative;
	bottom: 5px;
	text-align: center;
}
